/*************OVER RIDE BOOTSTRAP**************/
.pull-right{
  float: none !important;
}
/*************OVER RIDE BOOTSTRAP**************/

body {
    direction: rtl;
    background-image: url('../img/3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
}

@media (min-width:200px) and (max-width:1000px){
  p{
    font-size: 50px;
  }
  option{
    font-size: 20px;
  }
  input, textarea, select, .btn, span, .close{
    font-size: 42px;
  }
  input{
    width: 100%;
    height: 70px;
  }
  textarea, button{
    width: 100%;
    max-width: 100%;
  }
  select{
    width: 25%;
  }
}

@font-face {
  font-family: BYekan;
  src: url('../font/BYekan.ttf') format('opentype'),url('../font/BYekan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
    font-family: BYekan;
}

.header{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 36px;
}
@media (min-width:200px) and (max-width:1000px) {
  .header{
    font-size: 100px;
  }
}
.center-background{
  background-color: rgba(0,0,0, 0.3);
}
.box-space{
  margin: 15px 0px;
}

.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

    .btn-file > input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translate(-300px, 0) scale(4);
        font-size: 23px;
        direction: ltr;
        cursor: pointer;
    }

.fileupload {
    margin: 9px auto;
}

    .fileupload .uneditable-input {
        display: inline-block;
        margin-bottom: 0px;
        vertical-align: middle;
        cursor: text;
    }

    .fileupload .thumbnail {
        overflow: hidden;
        display: inline-block;
        margin-bottom: 5px;
        vertical-align: middle;
        text-align: center;
    }

        .fileupload .thumbnail > img {
            display: inline-block;
            vertical-align: middle;
            max-height: 100%;
        }

    .fileupload .btn {
        vertical-align: middle;
    }

.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display: none;
}

.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.thumbnail {
    border: none;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.thumbnail {
    border: 1px solid #ddd;
}

.fileupload{
    color: #a47e3c;
    border-color: #a47e3c;
}

.fileupload .fileupload-preview {
    color: #a47e3c;
}

.fileupload .thumbnail {
    border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}

.fileupload .fileupload-preview {
    color: #b94a48;
}

.fileupload .thumbnail {
    border-color: #b94a48;
}

.fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}

.fileupload .fileupload-preview {
    color: #468847;
}

.fileupload .thumbnail {
    border-color: #468847;
}
